*
!/.gitignore
!/README.md
!/.config

!/.config/ranger
!/.config/ranger/**

!/.SpaceVim
!/.SpaceVim/**
!/.SpaceVim.d/
!/.SpaceVim.d/**

backup/

!/.config/xfce4
!/.config/xfce4/xfconf
!/.config/xfce4/xfconf/xfce-perchannel-xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/**
